body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
.header-title{
    color: rgb(255, 255, 255);
    margin-left: 0.5%;
    padding: 0;
    margin-top: 0;
    height: 50%;
    font-size: 2vw;
}
.welcome-title{
    color: aliceblue;
    text-align: center;
    font-size: 6.5vw;
    margin: 0;
}
header{
    background: hsl(240, 1%, 19%);
    height: 18vh;
    
}
.home-body{
    background-image: url("images/buildings-city-city-view-597909.jpg");
    background-size: 100%;
    background-position: center;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-body{
    background: rgb(255, 255, 255);
    height: 82vh;
    width: 100%;
    display: inline-flex;
}
.profile-picture-section{
   width:50%;
   height: 100%;
   background:white;
   display: flex;
   align-items: center;

   
}   
img.profile-picture{
margin: 47%;
height: 50%;
}

.navigation{
    height: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;   
} 
.nav-link-header{
    display: inline-block;
    font-size: 1vw;
    margin: 0.6%;
}
.nav-link:first-child{
    margin-left: 0.5%;
}
.profile-info-section{
   width:50%;
   height: 100%;
   background:white;
   display: flex;
   align-items: center;
  
}
.profile-info{
    list-style-type:none ;
   

}

.nav-header{
    color: white;
    text-decoration: none;

}
.nav-header:hover{
    color: white;
    text-decoration: underline;
}

.link-profile-info{
    color: black;
    font-size: 3vw;
    text-decoration: none;
    
}
.link-profile-info:hover{
color: black;
text-decoration: underline;
}
.list-profile{
    margin-bottom: 5vh;
}
.profile-title{
    color: black;
    font-size: 3vw;
}
.labs-body{
    background: rgb(255, 255, 255);
    height: 82vh;
    width: 100%;
    display: flex;
}
.labs-menu{
    height: 100%;
    width: 12%;
    background: rgb(36, 32, 32);
}
.labs-section{
    height: 100%;
    width: 88%;
}

.content{
    height: 97%;
    width: 100%;
}
.tab-text{
    color: black;
}
.list-group-item{
    background: rgb(36, 32, 32);

}
.list-lab{
    color: white;
}
.list-lab:hover{
    color: white;
    text-decoration: none;
}
