body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
.header-title{
    color: rgb(255, 255, 255);
    margin-left: 0.5%;
    padding: 0;
    margin-top: 0;
    height: 50%;
    font-size: 4vh 2vw;
}
.welcome-title{
    color: aliceblue;
    text-align: center;
    font-size: 6.5vw;
    margin: 0;
}
header{
    background: hsl(240, 1%, 19%);
    height: 18vh;
    
}
section{
  
    height: 82hv;
    background: hsl(240, 1%, 19%);
}

.home-body{
    background-image: url("images/buildings-city-city-view-597909.jpg");
    background-size: 100%;
    background-position: center;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-body{
    background: rgb(255, 255, 255);
    height: 82vh;
    width: 100%;
    display: inline-flex;
}
.profile-picture-section{
   width:50%;
   height: 100%;
   background: red;
   display: flex;
   align-items: center;

   
}   
img.profile-picture{
margin: 47%;
height: 50%;
}
div{
    display: inline-block;
    width: 100px;
    height: 20px;
}

.navigation{
    height: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;   
} 
.nav-link{
    display: inline-block;
    font-size: 3vh 1vw;
    margin: 0.6%;
}
.nav-link:first-child{
    margin-left: 0.5%;
}
.profile-info{
   width:50%;
   height: 100%;
   list-style-type:none ;
   background:blue;
   align-items: center;
  
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}